
.page-footer {
	width: 100%;
	padding: $spacing-half 0;
	background: $pattern-grey-1;
	border-top: 1px solid $line-colour-1;
	min-height: 0;
	color: $pattern-white-1;
}

@media only screen and (min-width : $breakpoint-3){


}