
.progress-indicator {
	background: $pattern-grey-2;
	height: $dimension-eighth;
	overflow: hidden;
	border-radius: $radius-half;

	.fill {
		display: block;
		height: $dimension-eighth;
		width: 0;
		background: $pattern-green-1;
		transition: width 1s ease-in-out;

		.number {
			height: 0;
			width: 0;
			overflow: hidden;
			position: absolute;
			left: -9999px;
		}
	}

}