
$font_path: '~@/assets/fonts';

@font-face {
  font-family: 'icons';
  src: url('#{$font_path}/icons/icons.woff?9dsbvr') format('woff'),
    url('#{$font_path}/icons/icons.svg?9dsbvr#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'robotoblack';
  src: url('#{$font_path}/roboto_black_macroman/Roboto-Black-webfont.eot');
  src: url('#{$font_path}/roboto_black_macroman/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'),
       url('#{$font_path}/roboto_black_macroman/Roboto-Black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotobold';
  src: url('#{$font_path}/roboto_bold_macroman/Roboto-Bold-webfont.eot');
  src: url('#{$font_path}/roboto_bold_macroman/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('#{$font_path}/roboto_bold_macroman/Roboto-Bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotomedium';
  src: url('#{$font_path}/roboto_medium_macroman/Roboto-Medium-webfont.eot');
  src: url('#{$font_path}/roboto_medium_macroman/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('#{$font_path}/roboto_medium_macroman/Roboto-Medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoregular';
  src: url('#{$font_path}/roboto_regular_macroman/Roboto-Regular-webfont.eot');
  src: url('#{$font_path}/roboto_regular_macroman/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('#{$font_path}/roboto_regular_macroman/Roboto-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoitalic';
  src: url('#{$font_path}/roboto_italic_macroman/Roboto-Italic-webfont.eot');
  src: url('#{$font_path}/roboto_italic_macroman/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('#{$font_path}/roboto_italic_macroman/Roboto-Italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*------------------------------------*\
    #FONTS
\*------------------------------------*/

$font-family-heading: 'robotoblack', Arial;
$font-family-subheading: 'robotoblack', Arial;
$font-family-bold: 'robotobold', Arial;
$font-family-regular: 'robotoregular', Arial;
$font-family-italic: 'robotoitalic', Arial;
$font-family-icon: 'icons';


